* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pridi', serif;
    font-family: 'Work Sans', sans-serif;
}

/* header ---------------------------------------------------------------- */ 

header {
    top: 0; left: 0; right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    width: 30px;
}

header label {
    cursor: pointer;
    display: none;
}

header .logo img{
    width: 150px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #000;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #A1C7E6;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

/* --- section ------------------------------------------------------------- inicio --- */

.section-inicio_primaria {
    background-color: #274761;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-inicio_container1 img {
    width: 800px;
    margin: 50px;
}

.section1-inicio_container2 {
    display: flex;
    flex-direction: column;
}

.section1-inicio_container2 p {
    width: 250px;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    width: 350px;
}

.section-inicio_secundaria {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.section2-inicio_container {
    background-color: #274761;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section2-inicio_container img {
    width: 300px;
    border-radius: 50%;
    border: 2px solid #000;
}

.section2-inicio_container p {
    margin: 20px;
    text-align: justify;
    width: 300px;
}

/* --- section ------------------------------------------------------------- personajes --- */

.section-personajes_1 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-personajes_2 {
    background-color: #274761;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-personajes_3 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-personajes_4 {
    background-color: #274761;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-personajes_container-img img {
    width: 1000px;
    margin: 50px;
}

.section1-personajes_container-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.section1-personajes_container-text p {
    width: 300px;
    color: #fff;
}

.section1-personajes_container-text h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    width: 200px;
}

/* footer ---------------------------------------------------------------- */ 

footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.form-container {
    background-color: #000;
    width: 500px;
    height: 300px;
    border-radius: 50px;
    padding: 40px;
    margin-top: 50px;
}

.form-container p {
    color: #fff;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form p {
    text-align: center;
}

form input {
    margin-top: 30px;
    width: 360px;
    height: 30px;
    border-radius: 50px;
    padding: 5px;
}

#submit {
    width: 100px;
    height: 40px;
    margin: 50px;
    border-radius: 50px;
    background-color: #fff;
    border-style: solid 5px;
    color: #000;
}

#submit:hover {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.redes img {
    width: 30px;
    margin: 8px;
    margin-top: 50px;
}

@media screen and (max-width: 1300px) {
    .section-inicio_primaria {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .section1-inicio_container1 img {
        width: 700px;
        margin: 20px;
    }
    
    .section1-inicio_container2 {
        margin-bottom: 30px;
    }
    

    .section1-inicio_container2 p {
        width: 700px;
        margin: 10px;
        text-align: center;
    }
    
    h1 {
        width: 700px;
        text-align: center;
    }

    .section-inicio_secundaria {
        flex-direction: column;
        align-items: center;
    }
    
    .section2-inicio_container {
        width: 500px;
    }
    
    .section2-inicio_container p {
        width: 450px;
    }
    
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 95px; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
        text-align: center;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #A1C7E6;
        text-align: center;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    /* --- section ------------------------------------------------------------- inicio --- */

    .section1-inicio_container1 img {
        width: 80%;
        
    }

    .section1-inicio_container1 {
        text-align: center;
    }
    
    .section1-inicio_container2 {
        align-items: center;
        justify-content: center;
    }
    
    .section1-inicio_container2 p {
        width: 80%;
    }
    
    h1 {
        width: 80%;
        font-size: 30px;
    }
    
    .section2-inicio_container {
        width: 350px;
    }
    
    .section2-inicio_container p {
        width: 90%;
    }

    /* --- footer ---------------------------------------------------------------- */
    .form-container {
        width: 400px;
    }
    
    form input {
        margin-top: 20px;
    }
    
    #submit {
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 480px) {
    .section2-inicio_container {
        width: 80%;
    }

    .section2-inicio_container img {
        width: 200px;
        height: 200px;
    }

    .form-container {
        width: 80%;
        height: auto;
    }

    .form-container input {
        width: 140%
    }
}