body {
    font-family: 'Pridi', serif;
    font-family: 'Work Sans', sans-serif;
}

/* header ---------------------------------------------------------------- */ 

header {
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #fff;
}

/*
.nav-logo {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #A1C7E6;
    color: #000;
    border: solid 1px #000;
}
*/

header img {
    width: 170px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 20px;
}

nav li a {
    color: black;
    font-size: 1.1rem;
    border-radius: 40px;
    border: 1px solid #000;
    padding: 10px;
}

nav li a:hover {
    background-color: #000;
    color: #fff;
}

/* --- section ------------------------------------------------------------- inicio --- */

.section-inicio_primaria {
    background-color: #274761;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-inicio_container1 img {
    width: 1000px;
    margin: 50px;
}

.section1-inicio_container2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.section1-inicio_container2 p {
    width: 300px;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    width: 400px;
}

.section-inicio_secundaria {
    background-color: #000;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2-inicio_container {
    background-color: #274761;
    width: 300px;
    margin: 50px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section2-inicio_container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #000;
}

.section2-inicio_container p {
    margin: 20px;
    text-align: justify;
}

/* --- section ------------------------------------------------------------- personajes --- */

.section-personajes_1 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-personajes_2 {
    background-color: #274761;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-personajes_3 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-personajes_4 {
    background-color: #274761;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-personajes_container-img img {
    width: 1000px;
    margin: 50px;
}

.section1-personajes_container-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.section1-personajes_container-text p {
    width: 300px;
    color: #fff;
}

.section1-personajes_container-text h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    width: 200px;
}

/* footer ---------------------------------------------------------------- */ 

footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: #000;
    width: 500px;
    height: 300px;
    border-radius: 50px;
    padding: 40px;
    margin-top: 70px;
}

.form-container p {
    color: #fff;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form p {
    text-align: center;
}

form input {
    margin-top: 30px;
    width: 360px;
    height: 30px;
    border-radius: 50px;
    padding: 5px;
}

#submit {
    width: 100px;
    height: 40px;
    margin: 50px;
    border-radius: 50px;
    background-color: #fff;
    border-style: solid 5px;
    color: #000;
}

#submit:hover {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.redes img {
    width: 30px;
    margin: 8px;
    margin-top: 50px;
}